version: 1.0.{build}
image: Visual Studio 2019

environment:
  packageVersion: 1.0

init:
- ps: $env:buildVersion = "$env:packageVersion.$env:appveyor_build_number"
- ps: $env:nugetVersion = "$env:packageVersion-beta-$env:appveyor_build_number"
- ps: Update-AppveyorBuild -Version $env:buildVersion

assembly_info:
  patch: true
  file: '**\AssemblyInfo.*'
  assembly_version: '$(buildVersion)'
  assembly_file_version: '$(buildVersion)'
  assembly_informational_version: '$(nugetVersion)'

configuration: Release

platform: Any CPU

dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: '$(nugetVersion)'
  package_version: '$(nugetVersion)'
  assembly_version: '$(nugetVersion)'
  file_version: '$(nugetVersion)'
  informational_version: '$(nugetVersion)'

before_build:
- cmd: nuget restore

build:
  verbosity: minimal

after_build:
- nuget pack Promat.Images\Promat.Images.csproj -Symbols -IncludeReferencedProjects -Properties PackageId="PromatImages";Authors="Promat Team";Company="Promat Asesoría técnica de servicios";Description="Librería para combinar y transformar imágenes que por debajo utiliza ImageSharp.";Copyright="Promat Asesoría técnica de servicios";PackageTags="images csharp netstandard";PackageIconUrl="https://github.com/promatcloud/Branding/blob/master/icons/org/promat.512.png";PackageProjectUrl="https://github.com/promatcloud/PromatImages";RepositoryUrl="https://github.com/promatcloud/PromatImages";version='$(nugetVersion)'

artifacts:
- path: '*.nupkg'

deploy:
- provider: NuGet
  api_key:
    secure: GX63rzrPuxksA6hBiWaL2xOboo70e+5tY6ooRkx0gmn7OGu8SvnGtb52bl1mZ0z4
  skip_symbols: true
  artifact: /.*\.nupkg/