version: 1.0.1.{build}

image: Visual Studio 2019

environment:
  packageVersion: 1.0.10

init:
- ps: echo "$env:packageVersion"
- ps: $env:nugetVersion = "$env:packageVersion-beta-$env:appveyor_build_number"
- ps: echo "$env:nugetVersion"

configuration: Release

platform: Any CPU

dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: '{version}'
  package_version: $(nugetVersion)
  assembly_version: '{version}'
  file_version: $(nugetVersion)
  informational_version: $(nugetVersion)

before_build:
- cmd: nuget restore

build:
  verbosity: minimal

after_build:
- ps: dotnet pack Promat.Images\Promat.Images.csproj --configuration Release --include-symbols --no-build --output "$env:APPVEYOR_BUILD_FOLDER"

test: off

artifacts:
- path: '*.nupkg'