version: 1.0.{build}
image: Visual Studio 2019

environment:
  packageVersion: 1.0

init:
- ps: $env:buildVersion = "$env:packageVersion.$env:appveyor_build_number"
- ps: $env:nugetVersion = "$env:packageVersion-beta-$env:appveyor_build_number"
- ps: Update-AppveyorBuild -Version $env:buildVersion

assembly_info:
  patch: true
  file: '**\AssemblyInfo.*'
  assembly_version: '$(buildVersion)'
  assembly_file_version: '$(buildVersion)'
  assembly_informational_version: '$(nugetVersion)'

configuration: Release

platform: Any CPU

dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: '$(buildVersion)'
  package_version: '$(nugetVersion)'
  assembly_version: '$(buildVersion)'
  file_version: '$(buildVersion)'
  informational_version: '$(nugetVersion)'

before_build:
- cmd: nuget restore

build:
  verbosity: minimal

after_build:
- nuget pack Promat.Images\Promat.Images.csproj -Symbols -Properties version="$(nugetVersion)"

artifacts:
- path: '*.nupkg'

deploy:
- provider: NuGet
  api_key:
    secure: GX63rzrPuxksA6hBiWaL2xOboo70e+5tY6ooRkx0gmn7OGu8SvnGtb52bl1mZ0z4
  artifact: '*.nupkg'